.filters-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 60px;

    label {
        grid-row: 1 / 2;
        font-size: 16px;
    }
}

.filters {
    padding-top: 60px;
}

.filter {
    padding: 10px 0 10px 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.3;
    color: rgba(33, 30, 29, 0.3);
    border: none;
    border-bottom: 1px solid rgba(33, 30, 29, 0.2);
    background-color: transparent;
}

.main-h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
}

.catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 76px;
    padding-bottom: 100px;
}

.catalog__article {
    display: grid;
    width: 320px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "img img"
        "h3 like"
        "price .";
}

.catalog__h3 {
    grid-area: h3;
    font-size: 16px;
}

.catalog__img {
    grid-area: img;
}

.catalog__p {
    font-size: 16px;
}

.catalog__btn {
    grid-area: like;
    background-image: url("../images/like.svg");
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    background-position-x: right;
}

.article__button {
    grid-column: -1/1;
    min-width: 320px;
    justify-self: center;
    padding: 27px 0;
    border: 1px solid #211e1d;
    background-color: transparent;
}
