footer.footer
    .container.footer-container
        a(href="").footer--logo
            img(src="./images/logo.svg", alt="")
        p.footer__p--copyright Furly © 2021 Все права защищены
        p.footer__p--policy Политика конфиденциальности
        p.footer__p--tel 534-958-5555
        a(href="").footer--email info@furly.com
        div.footer__socials
            img(src="./images/fb.svg", alt="")
            img(src="./images/tw.svg", alt="")
            img(src="./images/inst.svg", alt="")
            img(src="./images/pint.svg", alt="")
        a(href="").footer__link--1 Оплата и доставка
        a(href="").footer__link--2 Возврат
        a(href="").footer__link--3 Отследить заказ
        form(action="#" method="POST").footer_mailing
            label(for="")
            input(type="text")
            button