header.header
    .container.header--nav
        a(href="") 
            img(src="./images/logo.svg", alt="")
        ul.header__ul.header__ul--links
            li.header__li--link
                a(href="") Новинки
            li.header__li--link
                a(href="") Бестселлеры
            li.header__li--link
                a(href="") Одежда
            li.header__li--link
                a(href="") Обувь
            li.header__li--link
                a(href="") Аксессуары
        ul.header__ul.header__ul--imgs
            li.header__li--img
                a(href="").header__a.header__a--enter 
            li.header__li--img
                a(href="").header__a.header__a--like 
            li.header__li--img
                a(href="").header__a.header__a--bag