main.main 
    .container 
        h1.main-h1 Женская одежда
            section.filters 
                form(action="#", method="get").filters-form
                    label(for="category") Категория
                    select#category(name="").filter
                        option(value="") Все

                    label(for="brand") Бренд
                    select#brand(name="brand").filter
                        option(value="") Бренд

                    label(for="category") Коллекция
                    select#collection(name="collection").filter
                        option(value="") Коллекция

                    label(for="sort") Сортировать по:
                    select#sort(name="sort").filter
                        option(value="") Сортировать по:

            section.catalog 
                article.catalog__article
                    h3.catalog__h3 Платье Spring
                    img(src="./images/photo-1.jpg", alt="").catalog__img
                    p.catalog__p 4 500 p
                    button.catalog__btn

                article.catalog__article
                    h3.catalog__h3 Платье Spring
                    img(src="./images/photo-1.jpg", alt="").catalog__img
                    p.catalog__p 4 500 p
                    button.catalog__btn

                article.catalog__article
                    h3.catalog__h3 Платье Spring
                    img(src="./images/photo-1.jpg", alt="").catalog__img
                    p.catalog__p 4 500 p
                    button.catalog__btn

                article.catalog__article
                    h3.catalog__h3 Платье Spring
                    img(src="./images/photo-1.jpg", alt="").catalog__img
                    p.catalog__p 4 500 p
                    button.catalog__btn

                article.catalog__article
                    h3.catalog__h3 Платье Spring
                    img(src="./images/photo-1.jpg", alt="").catalog__img
                    p.catalog__p 4 500 p
                    button.catalog__btn

                article.catalog__article
                    h3.catalog__h3 Платье Spring
                    img(src="./images/photo-1.jpg", alt="").catalog__img
                    p.catalog__p 4 500 p
                    button.catalog__btn

                article.catalog__article
                    h3.catalog__h3 Платье Spring
                    img(src="./images/photo-1.jpg", alt="").catalog__img
                    p.catalog__p 4 500 p
                    button.catalog__btn

                article.catalog__article
                    h3.catalog__h3 Платье Spring
                    img(src="./images/photo-1.jpg", alt="").catalog__img
                    p.catalog__p 4 500 p
                    button.catalog__btn

                article.catalog__article
                    h3.catalog__h3 Платье Spring
                    img(src="./images/photo-1.jpg", alt="").catalog__img
                    p.catalog__p 4 500 p
                    button.catalog__btn

                article.catalog__article
                    h3.catalog__h3 Платье Spring
                    img(src="./images/photo-1.jpg", alt="").catalog__img
                    p.catalog__p 4 500 p
                    button.catalog__btn

                article.catalog__article
                    h3.catalog__h3 Платье Spring
                    img(src="./images/photo-1.jpg", alt="").catalog__img
                    p.catalog__p 4 500 p
                    button.catalog__btn
                
                article.catalog__article
                    h3.catalog__h3 Платье Spring
                    img(src="./images/photo-1.jpg", alt="").catalog__img
                    p.catalog__p 4 500 p
                    button.catalog__btn

                button.article__button  Загрузить еще